@mixin rem($properties, $values...) {
  $_rem:    ();
  $_norem:  ();
  $_found: false;

  // loop through comma separated values
  @each $_values in $values {
    $__rem: ();
    $__norem: ();

    // loop through space separated values
    @each $_value in $_values {
      // rem value found
      @if is-number($_value, rem) {
        $__norem: append($__norem, to(px, $_value * $plasticss__rem__size), space);
        $__rem:   append($__rem,   $_value, space);
        $_found:  true;
      }
      // rpx value found
      @elseif is-number($_value, rpx) {
        $__norem: append($__norem, to(px, $_value), space);
        $__rem:   append($__rem,   to(rem, $_value / $plasticss__rem__size), space);
        $_found:  true;
      }
      // no rem/rpx values
      @else {
        $__norem: append($__norem, $_value, space);
        $__rem:   append($__rem,   $_value, space);
      }
    }

    $_rem:    append($_rem,   $__rem,   comma);
    $_norem:  append($_norem, $__norem, comma);
  }
  
  // output rem and pixel equivalent
  @if $_found {
    @each $_property in $properties {
      #{$_property}: $_norem;
      #{$_property}: $_rem;
    }
  }
  // output rem free values
  @else {
    @each $_property in $properties {
      #{$_property}: $_norem;
    }
  }
}

$plasticss__rem__size: 10!default;