@mixin hold-float($extend: true) {
  @include mixin(if($extend, '%plasticss__mixin__hold-float', false)) {
    zoom: 1;
    &:after {
      clear:    both;
      content:  '\00A0';
      display:  block;
      height:   0;
      overflow: hidden;
      width:    0;
    }
  }
}

// !placeholders
%plasticss__mixin__hold-float {
  @include hold-float(false);
}