@function implode($list, $glue: '') {
  $_string: '';
  
  @if length($list) > 0 {
    @for $_i from 1 through length($list) {
      $_string: $_string + nth($list, $_i);
      @if $_i != length($list) {
        $_string: $_string + $glue;
      }
    }
  }

  @return $_string;
}